*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    background-color:  #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.container{
        height: 596px;
        width: 350px;
        
        border-radius: 15px;
        background-color: #15263F;
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
        padding: 24px;
       

}
img{
    max-width: 100%;
    border-radius: 8px;
}

.equilibrium{
    color: #FFFFFF;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
 
    border-radius: nullpx;

    
    margin: 24px 24px 16px 0px;
}

.text1{
    
    
    color:  #8BACD9;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin: 0px 0px 24px 0px;
   
}
.main_container{
   
    
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.etherum,
.time{
    display: flex;

}
.etherum{
    color: #00FFF8;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.time{
    color: #8BACD9;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    }
hr{
    margin: 24px 0 16px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #2e405a;

}
.last{
    display: flex;
    align-items: center;
 justify-content: flex-start;
}
.last > img{
    width: 33px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 16px;
}
.creator{
    color:#8BACD9;
    //styleName: Caption;
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

}
a> img > .eye{
    color:#FFFFFF;
    //styleName: Caption;
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

}
.eye{
    position: absolute;
  border-radius: 8px;
  padding: 127px;
  opacity: 0;
}

img{
    opacity: 1.0;
}
img:hover{
    background-color: #00FFF8;
    opacity: 0.5;
}
.pointer{
    cursor: pointer;
    background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 1px 2px #000000;
}